@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Londrina+Sketch&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  margin: 0;
}

.navbar {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  justify-content: space-between;
  display: flex;
  background-color: #0056b3;
  color: #ddd;
  height: 50px;
  padding: 10px;
}

.weather_app_light {
  background-color: white;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/dashboard.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 60px;
}

.weather_app_dark {
  background-color: #333;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

.input_headings_light {
  color: rgb(13, 3, 71);
  font-weight: bold;
  padding-left: 0;
}

.input_headings_dark {
  color: white;
  padding-left: 0;
}

.text_color_light {
  color: white;
}

.text_color_dark {
  color: white;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.search_box {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  background: rgba(255, 255, 255, 0); /* Semi-transparent background */
  backdrop-filter: blur(0px); /* Blurs everything behind the input */
}

.search_box::placeholder {
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #0056b3;
}

.loader_light {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}

.loader_dark {
  color: white;
}

.toggle_theme {
  background: #064589;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  transition: 0.3s;
}
.toggle_theme:hover {
  background: #011a35;
}

.change_mode {
  display: flex;
  gap: 10px;
}

.mode_image {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .search {
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .search_box {
    width: 90%;
    max-width: 300px;
  }

  .button {
    width: 100%;
    max-width: 200px;
  }

  .toggle_theme {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 22px;
  }

  .search_box {
    width: 60%;
  }

  .button,
  .toggle_theme {
    font-size: 14px;
    padding: 8px;
  }

  .loader {
    font-size: 16px;
  }

  .navbar {
    flex-direction: column;
    height: auto;
  }
}
