/* * {
  margin: 0;
  padding: 0;
} */
/* 
body{
  height: 100vh;
  width: 100vw;
} */

/* .result_card{
  height: 100%;
  width: 100%;
  background-image: url("../assets/result.jpg");
  background-size: cover;
} */

.weather_card_light {
  /* width: 100%;
  height: 100%; */
  max-width: 350px;
  margin: auto;
  /* background: #f0f8ff; */
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../assets/result.jpg");
  background-size: cover;
}

.weather_card_dark {
  max-width: 350px;
  /* width: 100%;
  height: 100%; */
  margin: auto;
  background: #2E2E2E;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.weather_card h3 {
  color: #333;
}

.text_light{
  color:black ;
}

.text_dark{
  color: white;
}

.city_country {
  font-weight: bold;
  color: #555;
}

.weather_icon {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.temperature_light {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.temperature_dark {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.weather_condition {
  color: #666;
}

.weather_details {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: #444;
}

.loading {
  text-align: center;
  color: #888;
}
