.history_container_light {
    max-width: 100%;
    height: auto;
    color: black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    backdrop-filter: blur(4px); /* Blurs everything behind the input */
    background: rgba(255, 255, 255, 0); /* Semi-transparent background */
  }
  
  .history_container_dark {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
    color: black;
    backdrop-filter: blur(10px); /* Blurs everything behind the input */
    background: rgba(255, 255, 255, 0); /* Semi-transparent background */
    margin: 20px auto;
    padding: 15px;
    text-align: center;
  }

  h3 {
    margin-bottom: 10px;
    /* color: #333; */
    text-decoration: underline;
  }
  
  .history_item {
    padding: 8px;
    margin: 5px 0;
    color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .empty_history {
    /* color: #777; */
    font-style: italic;
  }
  